<section class="article">
    <h3><a href="{{backUrl}}">← Go back</a></h3>
    <br />
    {{#with article}}
        <h2 class="article-title">
            {{title}}
        </h2>
        <h3 class="article-subTitle">
            {{subTitle}}
        </h3>
        <h4 class="article-date">
            {{createdDate}}
        </h4>
        <p class="article-ontent">
            {{content}}
        </p>
    {{/with}}
</section>