{{#each articles}}
    {{#if this.publish}}
        <section class="article">
            <h3><a href={{../basePath}}{{this.url}}>Go to page</a></h3>
            <br />
            {{#with this}}
                <h2 class="article-title">
                    {{key}}{{title}}
                </h2>
                <h3 class="article-subtitle">
                    {{subtitle}}
                </h3>
                <h4 class="article-date">
                    {{date}}
                </h4>
                <p class="article-contetn">
                    {{content}}
                </p>
            {{/with}}
        </section>
    {{/if}}
{{/each}}